.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/hero.jfif');
  background-size: cover;
  background-position: center;
  position: relative;
}

.content {
  text-align: center;
  color: white;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 40vw;
  height: fit-content;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

/* Buttons styling */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primaryButton,
.secondaryButton {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.primaryButton {
  background-color: red;
  color: white;
}

.secondaryButton {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.primaryButton:hover {
  background-color: darkred;
}

.secondaryButton:hover {
  background-color: lightgray;
  color: darkred;
}

/* Responsive design */

@media (max-width: 1024px) {
  .content {
    width: 80vw;
    background: rgba(8, 8, 8, 0.4);
  }
}


@media (max-width: 768px) {
  .hero {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: right;

  } 

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column;
  }

  .primaryButton,
  .secondaryButton {
    width: 100%;
  }
}

@media (max-width: 640px) {
 
  .content {
    width: 90vw;
    background: rgba(8, 8, 8, 0.4);
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
  .buttons {
    flex-direction: row;
  }
  .primaryButton,
  .secondaryButton {
    font-size: 8px;
    width: fit-content;
  }
}


@media (max-width: 430px) {
  .hero {
    height: 80vh;
  }
}

@media (max-width: 360px) {
  .hero {
    height: 100vh;
    padding: 20px;
  }
}


@media (max-width: 270px) {
  .hero {
    height: 110vh;
    padding: 10px;
  }
}

