/* Base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: italic;
}


.container{
  width: 1300px;
  max-width: 90%;
  margin: auto;
  height: fit-content;
  overflow: hidden;
}


/* @media screen and (max-width: 600px){
  .container{
    max-width: 90%;
    padding: 40px;
  }
  
} */

.fade-in-elemen {
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 1s forwards; /* Apply the animation */
}

@keyframes fadeIn {
  0% {
      opacity: 0; /* Fully transparent */
      transform: translateY(20px); /* Optional: Start slightly lower */
  }
  100% {
      opacity: 1; /* Fully opaque */
      transform: translateY(0); /* Move back to original position */
  }
}
